h1 {
    color: green;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

span {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    background-color: gray;
    color: orange;
    text-align: center;
    font-size: 35px;
}

h2 {
    background-color: pink;
    width: 20%;
    height: 30%;
    border-style: solid;
    text-align: center;
}

header {
    background-color: purple;
    text-align: center;

}

section {
    background-color: grey;
    display: inline-block;
    width: 15%;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;


}

img {

    padding: 10px;
    width: 30%;
    height: auto;
    vertical-align: middle;
}

a:hover {
    background-color: green;
}

button {
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 10px;
    width: 50px;
    height: 40px;
    vertical-align: middle;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form>* {
    margin: 4px;
}